:root{
  --main-color: steelblue;
  --active-color: lightblue;
  --link-color: #444444;
}
header{
  background-color: var(--main-color);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 0 1em;
}
.main-nav li, .main-nav .nav-link{
  color:white;
  height:76px;
  padding-top:12px;
}
.main-nav{
  margin-top:4px;
}
.main-nav .active,.main-nav .nav-item:hover,.main-nav .nav-item:focus{
  color:var(--active-color);
  border-top: 4px solid var(--active-color);
  margin-top:-4px;
}

/*.main .nav-item:hover:before{
  content: '→'
}*/
.main{
  position: relative;
  max-width:900px;
  margin:auto;
  padding:1em;
}
.main .nav-item {
  padding-left:20px;
}
.main .nav-item .nav-link {
  color:#444444;
}
.logo{
  max-height:80px;
  filter: brightness(1.5);
}
.search-screen{
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  padding: 2em;
  background: white;
}
.desktop{
  display:none;
}
.mobile{
  display:flex;
}
@media screen and (min-width:1028px) {
  .desktop{
    display:flex;
  }
  .mobile{
    display:none;
  }
}
.secondary-btn{
  color:var(--active-color);
  border: 1px solid var(--active-color);
  opacity:0.9;
}
.secondary-btn:hover{
  opacity:1;
  color:var(--active-color);
}
.secondary-btn__dark,.secondary-btn__dark:hover{
  color:var(--main-color);
  border: 1px solid var(--main-color);
}
.close-btn{
  opacity:0.8;
  margin-left:12px;
  cursor: pointer;
}
.close-btn:hover{
  opacity:1;
}
.search-bar{
  display: flex;
  align-items:center;
}
